/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  backgound: white;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 950px;
}
.picture {
  width: 300px;
  border: solid rgb(218, 218, 218) 1px;
  padding: 10px;
}

.section {
  float: left;
  padding: 5px;
}
